<div id="formulario">
  <h1>Formulario</h1>
  <div id="form-products">
    <form action="/productos" method="post">
      <input type="text" name="name" placeholder="nombre" />
      <br />
      <input type="text" name="price" placeholder="precio" />
      <br />
      <input type="text" name="thumbnail" placeholder="url foto" />
      <br />
      <button type="submit">Añadir producto</button>
    </form>
  </div>
</div>