<div id="msg">
  <h1>Centro de Mensajes</h1>
  <div id="form-msg">
    <form class="formulario" action="/msg" method="post">
      <input class="input" name="email" type="text" placeholder="input email" required/>
      <textarea class="input" name="msg" rows="10" cols="50" placeholder="input your msg" required></textarea>
      <button class="input" type="submit">Enviar Mensaje</button>
    </form>
  </div>
  <div id="msg-history">

  </div>
</div>